<html>
    <head>
        <script src="https://kit.fontawesome.com/48e0a92c42.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Adam K Gray</h1>
        <p>Solutions Architecture &amp;&amp; Data Science</p>
    </body>
</html>
